!f2f1df
!de6619
!ad3748
!171e2b
!000000


html, body, h1 {
	margin: 0;
	padding: 0;
}

/*uncomment these for debugging div positions*/

/*div { !border: 1px solid #ff00ff; }*/
#header { border: 1px solid #0000ff; }
#header div { border: 1px dashed #0000ff; }
/*#content { border: 1px solid #00ff00; }
#content div { border: 1px dashed #00ff00; }
#footer { border: 1px solid #ff0000; }
#footer div { border: 1px dashed #ff0000; }
#page-container { border: 1px solid #ff00ff; }*/


.hidden {	/*use to make html elements temporarily invisible*/
	display: none;
}


html {
	overflow-y: scroll;	/*force all pages to always have a vertical scrollbar*/
}						/*vertical scrollbar affects width of window (messes up centred elements)*/

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	background-color: #dad9d8;
}

#page-container {	/*pending removal*/
	margin: auto;
	width: 1000px;
}

#header {
	width: 1000px;
	height: 400px;	/*height of slideshow*/
	background-image:url('../resources/images/new/header.jpg');
}

#logo {
	width: 1000px;
	height: 563px;
	cursor: pointer;
}

#logo img {
  margin-left: -275px;
  height: 300px;
	overflow: hidden;
}

.slideshow {
	margin-top: 10px;
	margin-bottom: 30px;
	width: 1000px;
	height: 500px;
	z-index: 0;
	overflow: hidden;
}

.slideshow img {
	!border: 2px solid grey;
	width: 600px;
	height: 400px;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
}

#slideshow_overlay {
	padding: 0px 0px 55px 0px;
	!border: 2px dashed purple;
	float: left;
	position: absolute;
	top: 150px;
	margin: auto;
	height: 500px;
}

#slideshow_overlay #buttons {
	float: right;
	!background-color: black;
	!border: 1px dashed green;
}

#slideshow_overlay #buttons .article {
	!float: none;
	!margin: 5px 5px 10px 10px;
	!margin-top: 5px;
	!margin-bottom: 5px;
	
}

#slideshow_overlay iframe {
	float: right;
	margin-top: 70px;
	margin-right: 0px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
#slideshow_overlay #words {
	font-weight: bold;
	float: left;
	margin-top: 330px;
	margin-left: 30px;
	background-color: lightblue;
	opacity: 0.9;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

!------------------------------------------------
! main_nav

#header #main_nav { background-color: black; height: 50px; }

#main_nav .nav_button {
	float: left;
	background-image: url(../resources/images/main_nav.png);
	width: 166px;
	height: 25px;
	left: 500px;
	cursor: pointer;
}
#main_nav .nav_button:hover {
	background-position: 0 -30px;
	color: black;
}

body.home #main_nav .nav_button#home,
body.info #main_nav .nav_button#info,
body.show #main_nav .nav_button#show,
body.contact #main_nav .nav_button#contact,
body.videos #main_nav .nav_button#videos,
body.reviews #main_nav .nav_button#reviews {
	background-position: 0 -60px;
	cursor: default;
	color: white;
	text-decoration: none;
}

! main_nav
!------------------------------------------------
! buttons

#buttons {
	!width: 100%;
	
}
#buttons h2 {
	margin: 2px;
	padding: 8px;
	text-decoration: none;
	color: white;
}

#buttons .article {
	float: left;
	background-image:  url(../resources/images/button.png);
	width: 226px;
	height: 100px;
	cursor: pointer;
	border: 2px solid white;
	margin: 20px 5px 20px 5px;
	padding-left: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#buttons .article:hover {
	background-position: 0 -100px;
	color: white;
}

#buttons .article img {
	float: right;
	margin-top: -10px;
	max-width: 170px;
	max-height: 170px;
}

! buttons
!---------------------------------------------------
! content

#content {
	line-height: 18px;
	!max-width: 800px;
	!margin: auto;
}
body.home #content {
	width: 1000px;
}
body.videos #content {
	width: 800px;
}
#content h2, p {
	margin: 0;
	padding: 0;
	padding-bottom: 0px;
}
#content h2 {
	margin: 2px;
	padding: 15px;
	border-bottom: 1px solid white;
}
#content b {
	color: #ad3748;
}
#content .article {
	float: left;
	color: white;
}
#content .article img {
	border: 2px solid black;
	float: left;
	max-width: 100px;
	max-height: 100px;
	margin: 10px 15px 15px 10px;
}
#content .article h2 a {
	text-decoration: none;
	color: #de6619;
	background-color: lightgrey;
}
#content .article a:hover {
	text-decoration: underline;
	color: white;
}
#content .article p {
	text-align: justify;
	background-color: lightgrey;
	padding: 5px;
}
#content .article iframe {
	padding: 15px;
}

! content
!----------------------------------------------

#sidebar { }

#sidebar div {
	float: left;
	width: 266px;
	height: 250px;
	background-color: #ff8247;
	padding: 5px;
	margin-left: 10px;
	!border: 1px solid lightblue;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
#sidebar h2 {
	color: #2020e0;
	text-align: center;
}
#sidebar img {
	display: block;
	margin: auto;
}


#footer {
	width: 1000px;
	height: 400px;	/*height of slideshow*/
	background-image:url('../resources/images/new/footer.jpg');
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	color: #f2f1df;
	!border-top: 1px solid #f2f1df;
	padding: 13px 25px;
	line-height: 18px;
	!border: 1px solid #ff0000;
}
#footer a {
	color: #f2f1df;
	text-decoration: none;
}
#footer a:hover {
	color: #ad3748;
}
#footer #altnav {
	width: 400px;
	float: right;
	text-align: right;
}
